<div class="row">
  <div class="col-lg-8 mx-auto text-center center jumbotron">
    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name,class:"input form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email,class:"input form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password,class:"input form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation,class:"input form-control" %>

      <br /><%= f.submit "Let's go!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>