<div class="row">
  <div class="col-lg-8 mx-auto text-center center jumbotron">
    <h1>Sign up</h1>
    <%= form_for(@user,url: users_new_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.text_field :name,class:"input form-control",placeholder:"Username" %>
        <%= f.email_field :email,class:"input form-control",placeholder:"Email" %>
        <%= f.password_field :password,class:"input form-control",placeholder:"Password" %>
        <%= f.password_field :password_confirmation,class:"input form-control",placeholder:"Password confirmation" %>
        <br /><%= f.submit "Let's go!", class: "butts" %>
    <% end %>
  </div>
</div>