<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
    
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%= welcome_index_path %>">La Parranda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active nav-link">
              <%= link_to "Home", welcome_index_path %>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to "Power Hour", power_hour_index_path %>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to "King's Cup", kings_cup_index_path %>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to "About", about_index_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    
    <div class="container">
      <div class="row">
        <footer>
          <div class="footer-copyright py-3 text-center">
          © 2018 Copyright: OE, Inc.
          </div>
        </footer>
      </div>
    </div>
</body>

</html>

